<header>
	<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
		<div class="container">
			<div class="row w-100">
				<div class="col-auto">
					<a class="navbar-brand mr-4" href="#">Logotipo</a>
				</div>
				<div class="col-6 justify-content-center">
					<form class="row">
						<div class="col px-0 mr-2">
							<input type="search" placeholder="Pesquisar produtos" id="mainSearchBar" class="form-control mr-2 w-auto mw-100" aria-label="Pesquisar produtos">
						</div>
						<div class="col-auto px-0">
							<button type="submit" class="btn btn-outline-success btn-primary">Vai</button>
						</div>
					</form>
				</div>
				<div class="col d-flex justify-content-end">
					<button type="submit" class="btn btn-outline-success btn-primary">coisa</button>
				</div>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</header>
